@model IEnumerable<SILI.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NrInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeContacto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrInterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeContacto)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        $('#mainTable').DataTable({
            "dom":'<"top"if>rt<"pagination"lp>'
        });
    });
</script>
