@model IEnumerable<SILI.Recepcao>

@{
    ViewBag.Title = "Registos Recepção";
}

<h2>Registos Recepção</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NrRecepcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataChegadaArmazem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraChegadaArmazem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrVolumesRecepcionados)
            </th>
            <th>
                Entregue Por
            </th>
            <th>
                Recebido Por
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DCR)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrRecepcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataChegadaArmazem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraChegadaArmazem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrVolumesRecepcionados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Morada.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DCR)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        $('#mainTable').DataTable({
            "dom": '<"top"fi>rt<"pagination"lp>',
            "orderFixed": [0,'desc']
        });
    });
</script>
