@model IEnumerable<SILI.Triagem>

@{
    ViewBag.Title = "Processos Triagem";
}

<h2>Processos Triagem</h2>

<p>
    @Html.ActionLink("Create New", "Create", "NovaTriagem")
</p>
<table class="table table-hover" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NrProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalheRecepcao.NrDetalhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraRecepcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeMorada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrGuiaNotaDevol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataGuia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubUnidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal.CodPostal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrProcesso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetalheRecepcao.NrDetalhe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraRecepcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeMorada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrGuiaNotaDevol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataGuia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubUnidades)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoPostal.CodPostal)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        $('#mainTable').DataTable({
            "dom":'<"top"fi>rt<"pagination"lp>'
        });
    });
</script>
