<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Integrado de Logistica Inversa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")

    <link rel="stylesheet" type="text/css" href="~/Content/typeahead.css" />

    

    
    
    @*<link href="~/Content/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.dataTables_themeroller.css" rel="stylesheet" type="text/css" />*@
    


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SILI", "Index", "Recepcao", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Menu <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Registos Recepção", "Index", "Recepcao")</li>
                                <li>@Html.ActionLink("Triagem", "Index", "Triagens")</li>
                            </ul>
                        </li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Bases de Dados <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                                <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                                <li>@Html.ActionLink("Destinatários", "Index", "Destinatarios")</li>
                                <li>@Html.ActionLink("Cód. Postais", "Index", "CodigoPostals")</li>
                                <li>@Html.ActionLink("Moradas", "Index", "Moradas")</li>
                                <li>@Html.ActionLink("Motivos de Devolução", "Index", "MotivoDevolucaos")</li>
                                <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                                <li>@Html.ActionLink("Tarefas", "Index", "Tarefas")</li>
                                <li>@Html.ActionLink("Tipos de Devolvedor", "Index", "TipoDevolvedors")</li>
                                <li>@Html.ActionLink("Tipos de Devolução", "Index", "TipoDevolucaos")</li>
                                <li>@Html.ActionLink("Tipologias de Produtos", "Index", "Tipologias")</li>
                                <li>@Html.ActionLink("Tratamentos", "Index", "Tratamentoes")</li>

                            </ul>
                        </li>
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Integrado de Logistica Inversa</p>
        </footer>
    </div>
    <script src="~/Scripts/typeahead.mvc.model.js" />
    @RenderSection("scripts", required: false)
</body>
</html>
